/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Variables */

:root {
    --header-height: 3.5rem;

    /* Colors */
    /* --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%); */

    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(0, 0%, 4%);
    --container-color: hsl(207, 4%, 12%);

    --gradient-color: linear-gradient(180deg,
            hsla(207, 48%, 72%, 0),
            hsla(207, 65%, 65%, 1));

    /* Font */
    /* .5rem = 8px | 1rem = 16px */
    --body-font: 'Poppins', sans-serif;
    /* --title-font: 'Poppins', sans-serif; */
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/* Standard CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* display: flex;
    justify-content: center; */
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .6s;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Variables dark */
body.dark-theme {
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    /* --body-color: hsl(207, 4%, 10%); */
    --body-color: hsl(0, 0%, 4%);
    --container-color: hsl(207, 4%, 12%);
}

/* theme */

.nav__buttons {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

/* Some Changes theme */
.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup {
    background-color: var(--container-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 8%, .4);
}

.dark-theme .home__social-link {
    color: var(--title-color);
}

.dark-theme .home__social-link,
.dark-theme .footer__social-link {
    color: var(--text-color);
}

.dark-theme .section__border {
    border-bottom: 1px solid hsla(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar {
    background-color: hsla(207, 4%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
    background-color: hsla(207, 4%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsla(207, 4%, 35%);
}

.dark-theme .projects__img {
    box-shadow: 0px 10px 20px black;
    transition: background .6s;
}

/* Useable CSS Classes */

.container {
    /* max-width: 1024px; */
    /* max-width: 1250px; */
    max-width: 1400px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
}

.section__border {
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}

.main {
    overflow: hidden;
    /* For animation */
}

/* header / nav */

.header {
    width: 100%;
    position: fixed;
    bottom: 2rem;
    left: 0;
    z-index: var(--z-fixed);
    /* display: flex;
    justify-content: center; */
}

.nav {
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
    transition: background .6s;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo {
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.nav__toggle {
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        width: 90%;
        left: 0;
        right: 0;
        bottom: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 2rem 1.5rem 5rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 2rem 3rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__link i {
    font-size: 1.25rem;
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    bottom: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}


/* show menu */

.show-menu {
    bottom: 2rem;
}

/* Active link */
.active-link {
    color: var(--title-color);
}

/* home */

.home__container {
    row-gap: 4rem;
    padding-top: 2rem;
}

.home__data {
    row-gap: 1.5rem;
}

.home__title {
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

/* Original Solar */

/* /* .home__blob {
    position: relative;
    width: 150px;
    height: 150px;
    /* background-color: var(--body-color);
    border: 2px solid var(--text-color-light); */
justify-self: center;
border-radius: 50%;
place-items: center;
overflow: hidden;
/* box-shadow: 0px 0px 60px rgb(255, 156, 76); */
box-shadow: 0px 0px 60px #e26e2a;
transition: background .6s;
z-index: 1;
}

*/
/* Original Solar Eclipse */

.home__prefil img {
    width: 400px;
    transform: scale(1.7);
}

.home__social {
    justify-self: center;
    align-items: end;
    display: flex;
    column-gap: 1.25rem;
}

.home__social-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
    transition: .3s;
}

.home__social-link:hover {
    color: var(--title-color);
    transform: translateY(-.15rem);
}

.home__social-link i {
    display: flex;
}

.home__info {
    display: grid;
    row-gap: 2rem;
    /* padding-left: 7rem; */
}

.home__info-title {
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}

.home__info-description,
.home__info-number {
    font-family: var(--body-font);
    color: var(--title-color);
}

.home__info-description {
    padding-right: 4rem;
}

/* Skills */

.skills__container {
    row-gap: 3.5rem;
}

.skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.skills__title i {
    font-size: 1rem;
    font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob {
    display: grid;
}

.skills__info {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills__data {
    justify-content: center;
    text-align: center;
}

.skills__blob {
    width: 80px;
    height: 100px;
    background-color: var(--container-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
    transition: background .6s;

    /* Skills, background changeA */
    background-color: hsla(0, 0%, 4%);
}

.skills__blob img {
    width: 40px;
}

.skills__name {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.skills__subtitle {
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* Animation Skills */

.skills__blob:hover img {
    animation: bounce-skills .6s;
}

@keyframes bounce-skills {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

/* Qualification */

.qualification {
    position: relative;
}

.qualification__container {
    row-gap: 3.5rem;
}

.qualification__container {
    justify-content: center;
    text-align: center;
}

.qualification__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}

.qualification__title {
    font-size: 1rem;
    font-weight: initial;
}

.qualification__info {
    display: grid;
    row-gap: 2rem;
    /* justify-content: center;
    text-align: center; */
}

.qualification__name {
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}

.qualification__country,
.qualification__year {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__country {
    margin-bottom: .75rem;

}

/* .qualification__country,
.qualification__year,
.qualification__name {
    
} */

/* .qualification__img {
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 12rem;
    transform: rotate(15deg);
    opacity: .1;
} */

/* Projects */
.projects__container {
    overflow: initial;
}

.projects__content {
    display: grid;
    justify-content: center;
}

.projects__img {
    width: 250px;
    height: 170px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
    box-shadow: 0px 10px 20px rgb(129, 129, 129);
    margin-top: 2rem;
}

.projects__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.projects__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
    margin: .5rem 0 1.25rem;
}

.projects__button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.projects__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.projects__button:hover i {
    transform: translateX(.25rem);
}

/* Swipe Class */

.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
    content: '';
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2.5rem;
    color: var(--title-color);
}

.projects__container .swiper-button-prev {
    left: -1rem;
    top: 5.5rem;
}

.projects__container .swiper-button-next {
    right: -1rem;
    top: 5.5rem;
}

.projects__container .swiper-slide {
    margin-bottom: 4.5rem;
}

.projects__container .swiper-pagination-bullets {
    bottom: 0;
}

.projects__container .swiper-pagination-bullet {
    background-color: var(--text-color-light);
    opacity: initial;
}

.projects__container .swiper-pagination-bullet-active {
    background-color: var(--title-color);
}

/* Contact */
.contact__container {
    row-gap: 3.5rem;
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.contact__title i {
    font-size: 1rem;
    font-weight: initial;
}

.contact__info,
.contact__data {
    display: grid;
}

.contact__info {
    row-gap: 2rem;
}

.contact__data {
    row-gap: .75rem;
}

.contact__data-title {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__data-info {
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    color: var(--title-color);
}

.contact__button {
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.contact__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover i {
    transform: translateX(.25rem);
}

/* Footer */

.footer__container {
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer__list,
.footer__social {
    display: flex;
    justify-content: center;

}

.footer__list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer__link {
    color: var(--title-color);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    column-gap: 1.25rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--text-color-light);
    transition: color .3s;
    transition: transform .3s;
}

.footer__social-link:hover {
    color: var(--title-color);
    transform: translateY(-.15rem);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 55%);
}

/* Scroll up */

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(207, 24%, 35%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* show scroll up */

.show-scroll {
    bottom: 7.5rem;
}

/* Solar Eclipse */

#solar {
    width: 300px;
    height: 300px;
    position: relative;
    justify-self: center;
    place-items: center;
    overflow: hidden;
    z-index: -2;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer-1 {
    background: repeating-conic-gradient(from 0deg at 50% 50%,
            rgba(255, 255, 255, 0)0%,
            rgba(255, 248, 176, 0.46)3.96%,
            rgba(69, 168, 255, 0)8.33%,
            rgba(69, 168, 255, 0)8.33%) 69.5% 37.7%/17.2% 17.2% no-repeat,
        radial-gradient(ellipse at 50% 50%, #fff8b0 0%,
            rgba(69, 168, 255, 0) 47.22%) 74.1% 35.6%/33.6% 36.6% no-repeat;
    transform-origin: 66% 40%;
    animation: 30s linear rotate infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(380deg);
    }
}

.layer-2 {
    background: radial-gradient(ellipse at 50% 50%,
            rgba(69, 168, 255, 0) 20%, var(--body-color) 29%) 77.4% 33.8%/40% 40% no-repeat,
        repeating-conic-gradient(from 15deg at 50% 50%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 248, 176, 0.51) 2.64%,
            rgba(69, 168, 255, 0) 5.56%,
            rgba(69, 168, 255, 0) 5.56%) 69.5% 37.7%/17.2% 17.2% no-repeat;
    transform-origin: 66% 40%;
    animation: 20s linear rotate infinite reverse;

}

.layer-3 {
    background: repeating-conic-gradient(from 355deg at 50% 50%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 198, 69, 0.26) 8.1%,
            rgba(69, 168, 255, 0) 16.67%,
            rgba(69, 168, 255, 0) 16.67%) 0 0/100% 100% no-repeat;
    animation: 20s linear rotate infinite;
}

.layer-4 {
    background: repeating-conic-gradient(from 355deg at 50% 50%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 198, 69, 0.26) 2.68%,
            rgba(69, 168, 255, 0) 5.88%,
            rgba(69, 168, 255, 0) 5.88%) 0% 0%/100% 100% no-repeat;
    animation: 40s linear rotate infinite reverse;
}

.layer-5 {
    background: repeating-conic-gradient(from 0deg at 50% 50%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 198, 69, 0.26) 6.62%,
            rgba(69, 168, 255, 0) 7.69%,
            rgba(69, 168, 255, 0) 7.69%) 0% 0%/100% 100% no-repeat;
    animation: 40s linear rotate infinite;
}

.layer-6 {
    background: radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.27) 0%, rgba(69, 168, 255, 0) 63.54%) 67% 39.3%/5.8% 5.8% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(69, 168, 255, 0) 40.28%, rgba(255, 183, 163, 0.05) 52.43%, rgba(69, 168, 255, 0) 63.54%) 68% 38.6%/13% 13% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(255, 248, 178, 0.55) 0%, rgba(69, 168, 255, 0) 63.54%) 66.9% 39.3%/3.4% 3.4% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(255, 248, 176, 0.2) 0%, rgba(69, 168, 255, 0) 66.67%) 70.7% 36.5%/25.6% 25.6% no-repeat,
        radial-gradient(ellipse at 50% 50%, var(--body-color) 26%, rgba(69, 168, 255, 0) 26.4%) 0% 0%/100% 100% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(255, 212, 148, 0.04) 0%, rgba(69, 168, 255, 0) 69.79%) 0% 0%/100% 100% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(255, 240, 148, 0.11) 0%, rgba(69, 168, 255, 0) 52.43%) 0% 0%/100% 100% no-repeat,
        radial-gradient(ellipse at 51% 49%, rgba(69, 168, 255, 0) 23.96%, var(--body-color) 40.63%) 0% 0%/100% 100% no-repeat,
        repeating-conic-gradient(from 0deg at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 239, 69, 0.14) 11.04%, rgba(69, 168, 255, 0) 20%, rgba(69, 168, 255, 0) 20%) 0% 0%/100% 100% no-repeat,
        radial-gradient(ellipse at 52% 48%, rgba(69, 168, 255, 0) 23.96%, var(--body-color) 34.03%) 0% 0%/100% 100% no-repeat,
        radial-gradient(ellipse at 50% 50%, rgba(255, 185, 147, 0.29) 28%, rgba(69, 168, 255, 0) 30%) 0% 0%/100% 100% no-repeat;

    width: 100%;
    height: 100%;
}

/* Solar Eclipse */

/* Particle.js */

.bubbles {
    position: absolute;
    height: 100dvh;
    left: 0;
    z-index: -1;
}

.particles-js-canvas-el {
    width: auto;

    height: 100dvh;

    position: fixed;

    background-image: url('');

    background-size: cover;

    background-repeat: no-repeat;

    z-index: -1000;
}

/* Particle.js */



/* Breakpoint */

/* Small Devices */

@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__menu {
        padding-bottom: 4rem;
    }

    .nav__list {
        gap: 1rem 1.25rem;
    }

    .skills__info {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects__img {
        width: 200px;
        justify-self: center;
    }

    .home__info {
        justify-content: center;
    }

}

/* Medium Devices */

@media screen and (min-width: 576px) {

    .nav,
    .nav__menu {
        width: 380px;
    }

    .nav {
        margin: 0 auto;
    }

    .skills__container {
        justify-content: center;
    }

    .projects__container {
        width: 400px;
    }

    .projects__container {
        overflow: hidden;
    }

    .projects__container,
    .swiper-button-prev {
        left: 1rem;
    }

    .projects__container,
    .swiper-button-next {
        right: 1rem;
    }

    .projects__container .swiper-button-prev,
    .projects__container .swiper-button-next {
        font-size: 3rem;
    }

    html {
        scroll-behavior: smooth;
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 767px) {

    /* If I want the home info to go under the blob */
    .home__container {
        grid-template-columns: 1fr;
    }

    /* .home__data {
        order: 0;
    } */

    .home__blob {
        width: 200px;
        height: 200px;
    }

    .home__container {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .home__data {
        order: 2;
    }

    .home__info:nth-child(3) {
        order: 3;
        text-align: right;
    }

    .home__info {
        margin-top: 20rem;
    }

    .home__info-description {
        padding-right: 0;
    }

    .qualification__container {
        justify-content: center;
        text-align: center;
    }

    .projects__container {
        width: 500px;
    }

    .contact__container {
        justify-content: center;
        text-align: center;
    }

    .header {
        width: 100%;
        position: fixed;
        bottom: 2rem;
        left: 0;
        z-index: var(--z-fixed);
        display: flex;
        justify-content: center;
    }

    #solar {
        width: 350px;
        height: 350px;
    }
}

/* Large Devices */

@media screen and (min-width: 1023px) {
    .header {
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .6s;
        transition: background .6s;
        opacity: 0.90;
        backdrop-filter: blur(4px);
    }

    .nav {
        width: initial;
        height: calc(--header-height) + 1.5rem;
        box-shadow: none;
        border-radius: 0;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
    }

    .nav__link i,
    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: initial;
        margin-left: auto;
        background-color: var(--body-color);
        transition: background .6s;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        font-size: var(--normal-font-size);
    }

    .home__blob {
        width: 200px;
        height: 200px;
    }

    .dark-theme .nav,
    .dark-theme .nav__menu {
        background-color: var(--body-color);
        box-shadow: none;
    }

    .change-theme {
        color: var(--text-color-light);
    }

    .change-theme:hover {
        color: var(--title-color);
    }

    .section {
        padding-block: 8rem 0;
    }

    .home__title {
        font-size: 2.25rem;
    }

    .scrollup {
        right: 3rem;
    }

    .show-scroll {
        bottom: 5rem;
    }

    /* chnage background header  */

    .bg-header {
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    }

    .dark-theme .bg-header {
        box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
    }
}

@media scren and (min-width: 1048px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px) {
    .section__border {
        padding-bottom: 6rem;
    }

    .section__subtitle {
        margin-bottom: 5rem;
    }

    .home__title {
        font-size: var(--biggest-font-size);
    }

    /* Original eclipse box width */

    /* .home__blob {
        width: 250px;
        height: 250px;
    } */

    /* Original eclipse box width */

    #solar {
        width: 600px;
        height: 600px;
    }

    .home__data {
        row-gap: 2.5rem;
    }

    .home__social {
        column-gap: 2rem;
    }

    .home__social-link {
        font-size: 1.5rem;
    }

    .home__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 3rem;
        /* reduce margin-top if changing position of blob to above info */
        margin-top: 20rem;
        font-size: var(--h3-font-size);
    }

    /* .skills__container {
        column-gap: 10rem;
    } */

    .skills__title {
        margin-bottom: 3rem;
    }

    .skills__title i {
        font-size: 1.25rem;
    }

    .skills__name {
        font-size: var(--normal-font-size);
    }

    .skills__info {
        gap: 3rem;
    }

    .qualification__container {
        column-gap: 14rem;
    }

    .qualification__title {
        margin-bottom: 3rem;
    }

    .qualification__title {
        font-size: 1.25rem;
    }

    .qualification__name {
        font-size: var(--h3-font-size);
    }

    .qualification__img {
        width: 300px;
        left: -6rem;
        margin-bottom: 5rem;
    }

    .projects__container {
        width: 900px;
    }

    .projects__container .swiper-button-prev,
    .projects__container .swiper-button-next {
        font-size: 3rem;
    }

    .projects__container .swiper-button-prev {
        left: -1rem;
    }

    .projects__container .swiper-button-next {
        right: -1rem;
    }

    .projects__container .swiper-slide {
        margin-bottom: 6.5rem;
    }

    .projects__container .swiper-button-prev {
        top: 8rem;
    }

    .projects__container .swiper-button-next {
        top: 8rem;
    }

    .projects__img {
        width: 320px;
        height: 240px;
        margin-bottom: 2rem;
    }

    .contact__title {
        margin-bottom: 3rem;
    }

    .contact__title i {
        font-size: 1.25rem;
    }

    .contact__info {
        row-gap: 3rem;
    }

    .contact__data-info {
        font-size: var(--normal-font-size);
    }

    .footer__container {
        padding: 4rem 0 3rem;
    }

    .footer__list {
        column-gap: 3rem;
        margin: 3rem 0;
    }

    .footer__social {
        column-gap: 2rem;
    }

    .footer__social-link {
        font-size: 1.5rem;
    }

    .footer__copy {
        margin-top: 5rem;
    }

    #solar {
        top: -3rem;
    }

}

@media screen and (min-width: 1247px) {}

@media screen and (max-width: 1024px) {
    .home__blob {
        margin-top: 5.5rem;
    }

    #solar {
        top: 0rem;
    }
}